<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/pizza3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/pizza4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/pizza6.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid bgimg">
  <div class="row mx-auto">
    <div class="col-md-4 order-md-2 mb-4 mt-5 app-cart" style="max-width: 34rem;">
      <!-- Cart Component load here -->
    </div>
    <div class="col-md-8 order-md-1 my-5">
      <div class="container form-inline justify-content-center">
        <input class="form-control mr-sm-2 d-block" id="searchbar" type="text" placeholder="Search"
          [(ngModel)]="searchPizza">
        <button class="btn btn-primary my-2 my-sm-0" id="searchbtn" type="submit">Search</button>
      </div>
      <div class="container mt-4">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link btn" style="font-size: small" [class.active]="1 == selectedRow"
              (click)="allPizzasLoad()">All
              Pizzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" style="font-size: small" [class.active]="2 == selectedRow"
              (click)="nonVegPizzasLoad()">Non-Veg
              Pizzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" style="font-size: small" [class.active]="3 == selectedRow"
              (click)="vegPizzasLoad()">Veg
              Pizzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" style="font-size: small" [class.active]="4 == selectedRow"
              (click)="topPizzasLoad()">Top
              Pizzas</a>
          </li>
        </ul>
      </div>
      <div class="container mx-auto bg-light">
        <!-- ------------------------------------------------ All Pizzas ------------------------------------------------ -->
        <div class="d-flex justify-content-center mt-5" *ngIf="isLoaded">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row" *ngIf="!isLoaded">
          <div class="col mt-5" *ngFor="let pizza of pizzaView | filter:searchPizza;">
            <form #pizzaCard="ngForm" (ngSubmit)="addToCart(pizza, pizzaCard.value.id)">
              <div class="card mx-auto" style="width: 21rem; height: 26rem;">
                <div>
                  <img src="{{pizza.image}}" class="card-img-top" alt="{{pizza.pname}}">
                  <!-- src="data:image/gif;base64,{{pizza.image}}" -->
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bolder; font-size: medium;">{{pizza.pname |titlecase}}
                    </h5>
                    <p class="card-text text-muted" style="font-size: small;">{{ pizza.description | slice:0:50 }}...
                    </p>
                    <p style="font-weight: bold;">{{pizza.price | currency:"INR":"symbol"}}</p>
                    <!-- {{pizzaCard.value.id | number}} -->
                    <small for="select" class="text-muted">size</small>
                    <div class="form-row" >
                      <div class="col-8">
                        <select style="font-size: small; border-radius: 0;" class="form-control"
                          [ngModel]="1" name="id">
                          <option style="font-size: small;" *ngFor="let i of [0,1,2];" [value]='i'>
                            {{pizza.pizzaTypes[i].size | titlecase}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{pizza.pizzaTypes[i].price |currency:"INR"}}
                          </option>
                        </select>
                      </div>
                      <div class="col" *ngIf="pizzaCard.value.id !== undefined">
                        <button type="submit" class="btn-sm btn-warning float-right"
                          *ngIf="!pizza.pizzaTypes[pizzaCard.value.id].isTypeAdded">Add to cart</button>
                        <button type="button" class="btn-sm btn-secondary float-right"
                          *ngIf="pizza.pizzaTypes[pizzaCard.value.id].isTypeAdded">Added</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5" *ngIf="loadingSybl">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
