<div class="container-fluid bgimg">
  <div class="row mx-auto">
    <div class="col-md-8 order-md-1 my-5">
      <div class="container form-inline justify-content-center">
        <input class="form-control mr-sm-2 d-block" id="searchbar" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" id="searchbtn" type="submit">Search</button>
      </div>
      <div class="container mt-4">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link btn" [class.active]="0 == selectedNavBtn" (click)="loadAllPizzas()">All
              Pizzas</a>
          </li>
          <!-- <li class="nav-item">
                        <a class="nav-link btn" [class.active]="1 == selectedNavBtn"
                            (click)="loadAvailablePizzas()">AVAILABLE</a>
                    </li> -->
          <!-- <li class="nav-item">
                        <a class="nav-link deactive btn" [class.active]="2 == selectedNavBtn"
                            (click)="loadNotAvailablePizzas()">NOTAVAILABLE</a>
                    </li> -->
          <li class="nav-item">
            <a class="nav-link deactive btn" [class.active]="3 == selectedNavBtn" (click)="loadVegPizzas()">VEG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link deactive btn" [class.active]="4 == selectedNavBtn"
              (click)="loadNonVegPizzas()">NONVEG</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center my-5" *ngIf="isLoaded">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="container mx-auto">
        <table class="table table-hover table-responsive-sm" *ngIf="!isLoaded">
          <thead>
            <tr>
              <th scope="col">Pizza ID</th>
              <th scope="col">Pizza Name</th>
              <th scope="col">Size & Price</th>
              <th scope="col">Category</th>
              <!-- <th scope="col">pirce</th> -->
            </tr>
          </thead>
          <tbody>
            <tr [class.active]="pizza.pid == selectedRow" *ngFor="let pizza of pizzas"
              (click)="getPizzaDetail(pizTypeId.value)">
              <th scope="row">{{pizza.pid}}</th>
              <td>{{pizza.pname}}</td>
              <td>
                <div class="form-group col-md-7">
                  <select style="font-size: small;" class="form-control" #pizTypeId>
                    <option style="font-size: small;" *ngFor="let ptype of pizza.pizzaTypes;" [value]='ptype.pizTypeId'>
                      {{ptype.size | titlecase}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ptype.price | currency:"INR":"symbol"}}</option>
                  </select>
                </div>
              </td>
              <td>{{pizza.category | titlecase}}</td>
              <!-- <td>{{pizza.pizzaTypes[0].price | currency:"INR":"symbol"}}</td> -->
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" disabled aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" [class.active]="i === selectedPage" *ngFor="let item of tempPizzas ;let i = index">
              <a *ngIf="i < tempPizzas.length / 5" (click)="pagination(i)" class="page-link"
                style="cursor: pointer;">{{i+1}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" disabled aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-4 col-sm-2 order-md-2 my-5 animate__animated" [class.animate__fadeIn]="fadeIn"
      *ngIf="singlePizza !== undefined" style="max-width: 35rem;">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{singlePizza.pizza.image}}" class="card-img" alt="{{singlePizza.pizza.pname}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" class="font-weight: bold;">{{singlePizza.pizza.pname}}</h5>
              <small class="card-text">{{singlePizza.pizza.description}}</small>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      <form #PizzaUpdateForm="ngForm" (ngSubmit)="updatePizzaDetails()">
        <input type="text" hidden class="form-control" id="pizTypeId" [(ngModel)]="singlePizza.pizTypeId"
          name="pizTypeId">
        <div class="form-group">
          <label for="pizzaName">Pizza name</label>
          <input type="text" class="form-control" id="pizzaName" [(ngModel)]="singlePizza.pizza.pname"
            name="pname">
        </div>
        <div class="form-group">
          <label for="pizzaImage">Pizza image</label>
          <input class="form-control" id="pizzaImage" [(ngModel)]="singlePizza.pizza.image" name="image">
        </div>
        <div class="form-group">
          <label for="pizzaDescription">Pizza description</label>
          <input type="text" class="form-control" id="pizzaDescription" [(ngModel)]="singlePizza.pizza.description"
            name="pizza.description">
        </div>
        <div class="form-group">
          <label for="pizzaPrice">Pizza price</label>
          <input type="number" class="form-control" id="pizzaPrice" [(ngModel)]="singlePizza.price" name="price">
        </div>
        <div class="form-group">
          <label for="pizzaCategory">Pizza category</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="pizzaCategoryVeg" value="VEG" checked
              [(ngModel)]="singlePizza.pizza.category" name="category">
            <label class="form-check-label" for="pizzaCategoryVeg">
              Veg Pizza
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="pizzaCategoryNonVeg" value="NONVEG"
              [(ngModel)]="singlePizza.pizza.category" name="category">
            <label class="form-check-label" for="pizzaCategoryNonVeg">
              Non-Veg Pizza
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="pizzaStatus">Pizza status</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="pizzaStatusAvailable" value="AVAILABLE"
              checked [(ngModel)]="singlePizza.status" name="status">
            <label class="form-check-label" for="pizzaStatus">
              Available
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="pizzaStatusNotAvailable"
              value="NOTAVAILABLE" [(ngModel)]="singlePizza.status" name="status">
            <label class="form-check-label" for="pizzaStatus">
              Notavailable
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary p-3" style="width: 100%;">Update</button>
      </form>
    </div>
  </div>
