<img src="assets/IMGBIN_pizza-png.png" style="width: 40rem;" class="img-fluid float-left" alt="...">

    <h1 class="text-center mt-5" style="font-weight: bold;">SIGNUP</h1>
    <div class="card mx-auto my-4 shadow-lg" style="width: 23rem;">
        <!-- <figure class="figure mt-4 text-center">
            <img src="assets/pizza_icon.png" class="figure-img img-fluid rounded-circle" height="160px"
                width="160px">
        </figure> -->
        <div class="card-body mb-5">
            <form #signupForm="ngForm" (ngSubmit)="signUpForm(signupForm.value)">
                <!-- <div class="form-group">
                    <label class="text-center card-title" style="font-weight: bolder;" for="exampleFormControlFile1">Profile
                        Picture</label>
                    <input ngModel type="file" class="form-control-file text-center" id="exampleFormControlFile1" name="image">
                </div> -->
                <div class="form-group">
                    <label style="font-weight: bolder;">Username</label>
                    <input ngModel type="text" class="form-control" name="uname"
                        placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-weight: bolder;">Email</label>
                    <input ngModel type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"  name="email" 
                        placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-weight: bolder;">Birth Date</label>
                    <input ngModel type="date" class="form-control" name="dob" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-weight: bolder;">Contact Number</label>
                    <input ngModel type="email" class="form-control"  name="mobNo"
                        placeholder="Enter Mobile Number" required>
                </div>
                <div class="form-group">
                    <label style="font-weight: bolder;">Password</label>
                    <input ngModel type="password" pattern=".{8,}" title="Eight or more characters" required class="form-control" name="pass" placeholder="Password">
                </div>
                <input type="submit" class="btn btn-primary form-control" value="Signup"><br><br>
                <a routerLink="/Login" class="btn btn-warning d-block">Cancel</a>
            </form>
        </div>
    </div>