.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
  top: 10rem;
  width: 10rem;
  height: 10rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}

.sticky-top{
  padding-top: 5rem;
}
