<div class="app-add-address"></div>

<h2 class="text-center mt-4" style="font-weight: bolder;">CHECKOUT DETAILS</h2>
<div class="container">
    <div class="row mx-4">
        <div class="col-md-4 order-md-2 mb-4 mt-3">
            <div class="sticky-top">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Order Summary</span>
                </h4>
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2" scope="row">
                                    <div>
                                        <span class="my-0">Total Item</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="float-right">{{cart.totalQty}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" scope="row">
                                    <div>
                                        <span class="my-0">Delivery Charges</span>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <span class="float-right">₹ 15</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" scope="row">
                                    <div>
                                        <strong class="my-0">TOTAL COST</strong>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <strong class="float-right">{{cart.totalAmt | currency:"INR":"symbol"}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- ------------------------------------------------------------------------------------------ -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted mt-2">Choose delivery Address</span>
                </h4>
                <div>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let address of allAddress">
                                <td scope="row">
                                    <div class="checkbox">
                                        <label><input type="radio" [value]="address.addrid"
                                                [(ngModel)]="addrid"></label>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <span class="">{{address.street}}, {{address.flatno}}, {{address.city}},
                                        {{address.pincode}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <small *ngIf="allAddress.length === 0" class="text-secondary">You have no saved address
                    yet...!!!</small>
                <input type="button" class="btn btn-warning p-3 d-block mt-4" data-toggle="modal"
                    data-target="#exampleModal" style="width: 100%;" value="ADD NEW ADDRESS" />
                <input type="button" class="btn btn-success p-3 d-block mt-4" style="width: 100%;" value="PLACE ORDER"
                    [disabled]="addrid === undefined" (click)="placeNewOrder(addrid)" />
            </div>
        </div>
        <div class="col-md-8 order-md-1 my-5">
            <h4 class="text-center">Products</h4>
            <div class="container mt-4">
                <div class="row">
                    <div class="card mb-3" style="max-width: 650px;" *ngFor="let pizza of cart.pizzas">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/Farmhouse.jpg" class="card-img" alt="{{pizza.pname}}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: bold;">{{pizza.pname}}</h5>
                                    <p class="card-text">{{pizza.description}}</p>
                                    <label>Price : {{pizza.totalPrice | currency:"INR":"symbol"}}</label>
                                    <label class="float-right">Quantity : {{pizza.quantity}}</label>
                                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="mt-5" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
