<img src="assets/IMGBIN_pizza-png.png" style="width: 40rem;" class="img-fluid float-left" alt="...">

<h1 class="text-center mt-5" style="font-weight: bold;">LOGIN</h1>

<div class="card mx-auto my-4 shadow-lg" style="width: 23rem;">
    <figure class="figure mt-5 text-center">
        <img src="assets/pizza_icon.png" class="figure-img img-fluid" height="200px" width="200px">
    </figure>
    <div class="card-body mb-4">
        <form #loginForm="ngForm" (ngSubmit)="loginFormValidation(loginForm.value)">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ngModel type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                        anyone else.</small> -->
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ngModel type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
            </div>
            <input type="submit"  class="btn btn-primary form-control" value="login"><br><br>
            <a routerLink="/Signup" class="btn btn-warning d-block">Sign Up</a>
        </form>
    </div>
</div>
