<img src="assets/IMGBIN_pizza-png.png" style="width: 40rem;" class="img-fluid float-left position-sticky" alt="...">

<h1 class="text-center mt-5" style="font-weight: bold;">PROFILE</h1>

<div class="card mx-auto my-4 shadow-lg" style="width: 23rem;">
    <figure class="figure mt-5 text-center">
        <img src="assets/profile_logo.png" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
    </figure>
    <div class="card-body mb-5" *ngIf="user !== undefined">
        <h5 class="card-title text-center" style="font-weight: bolder;">{{user.uname}}</h5>
        <label style="font-weight: bold;" for="email">Email</label><br>
        <p>{{user.email}}</p>
        <label style="font-weight: bold;" for="phone">Phone</label><br>
        <p>+91 {{user.mobNo}}</p>
        <a routerLink="/EditProfile" class="btn btn-primary d-block">Edit</a><br>
        <a routerLink="/MyOrder" class="btn btn-warning d-block">My Order</a>
    </div>
</div>
