<img src="assets/IMGBIN_pizza-png.png" style="width: 40rem;" class="img-fluid rounded float-left" alt="...">

<h1 class="text-center mt-5" style="font-weight: bold;">Update Profile</h1>
<div class="card mx-auto my-4 shadow-lg" style="width: 23rem;">
    <figure class="figure mt-5 text-center">
        <img src="assets/vishalDP.jpg" class="figure-img img-fluid bg-warning rounded-circle" height="200px"
            width="200px">
    </figure>
    <div class="card-body" *ngIf="user !== undefined">
        <form #editForm="ngForm" (ngSubmit)="updateProfile(editForm.value)">
            <div class="form-group">
                <label class="text-center card-title" for="exampleFormControlFile1">Update Profile
                    Picture</label>
                <input type="file" class="form-control-file text-center" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input [(ngModel)]="user.uname" type="text" class="form-control" aria-describedby="emailHelp"
                    name="uname">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input [(ngModel)]="user.email" disabled type="email" class="form-control" aria-describedby="emailHelp"
                    name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contact Number</label>
                <input [(ngModel)]="user.mobNo" type="email" class="form-control" aria-describedby="emailHelp"
                    name="mobNo">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input [(ngModel)]="user.pass" type="password" class="form-control" name="pass">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary form-control" value="Update">
            </div>
            <div class="form-group">
                <input type="button" routerLink="/Profile" class="btn btn-warning form-control" value="Cancel">
            </div>
        </form>
    </div>
</div>