/* You can add global styles to this file, and also import other style files */
.nav-link{
    font-size: large;
    font-weight: bold;
}

#searchbar{
    width: 500px;
}

#searchbtn{
    width: 120px;
}

/* .bgimg{
    background-image: url(pics/macro-shot-of-wooden-planks-326333.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 872px;
} */

.graph{
    margin-top: 6rem;
}

/* --------------------------------------------------Clickable Card-------------------------------------------------- */

/* --------------------------------------------------Clickable Card-------------------------------------------------- */

.addressform{
    max-width: 35rem;
}

.addressform label{
    font-weight: bolder;
}