<!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" *ngIf="isRefresh" aria-atomic="true"
  class="fixed-top d-flex align-items-center justify-content-center animate__animated animate__slideOutUp"
  style="min-height: 200px;">
  <!-- Then put toasts within -->
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success">
      <!-- <img src="" class="rounded mr-2" alt="..."> -->
      <strong class="mr-auto text-white">Logged in Success</strong>
      <!-- <small>11 mins ago</small> -->
      <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="toast-body">
      Welcome Admin..!!
    </div>
  </div>
</div>
<div class="container graph">
  <div class="row">
    <div class="col-sm mt-5">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk
            of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-5">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk
            of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-5">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk
            of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bgimg">
  <div class="row mx-auto">
    <div class="col-md-8 order-md-1 my-5">
      <div class="container form-inline justify-content-center">
        <input class="form-control mr-sm-2 d-block" id="searchbar" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" id="searchbtn" type="submit">Search</button>
      </div>
      <div class="container mt-4">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link btn" [class.active]="0 == selectedNavBtn" (click)="loadAllOrders()">All Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" [class.active]="1 == selectedNavBtn" (click)="loadDeliveredOrders()">Delivered</a>
          </li>
          <li class="nav-item">
            <a class="nav-link deactive btn" [class.active]="2 == selectedNavBtn"
              (click)="loadNotDeliveredOrders()">NotDelivered</a>
          </li>
          <li class="nav-item">
            <a class="nav-link deactive btn" [class.active]="3 == selectedNavBtn"
              (click)="loadCancelledOrders()">Cancelled</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center my-5" *ngIf="isLoaded">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="container mx-auto">
        <table class="table table-hover table-responsive-sm" *ngIf="!isLoaded">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Pizza Qty.</th>
              <th scope="col">Total Amt.</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr [class.active]="order.oid == selectedRow" *ngFor="let order of orders"
              (click)="getOrderDetail( order.oid)">
              <th scope="row">{{order.oid}}</th>
              <td>{{order.totalQty}}</td>
              <td>{{order.totalAmt}}</td>
              <td>{{order.status}}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" disabled aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" [class.active]="i === selectedPage" *ngFor="let item of tempOrder ;let i = index">
              <a *ngIf="i < tempOrder.length / 5" (click)="pagination(i)" class="page-link"
                style="cursor: pointer;">{{i+1}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" disabled aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4 mt-5 animate__animated" [class.animate__fadeIn]="fadeIn"
      style="max-width: 34rem;" *ngIf="singleOrder!==undefined">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Order Details</span>
        <span class="badge badge-secondary badge-pill">{{singleOrder.oid}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let orderDetails of singleOrder.orderDetails">
          <div>
            <div class="form-inline">
              <h6 class="my-0">{{orderDetails.pizzaType.pizza.pname}}</h6>
              <small style="background-color: rgb(63, 132, 160); color: white;"
                class="mx-1 rounded">&nbsp;{{orderDetails.pizzaType.size}}&nbsp;</small>
            </div>
            <small class="text-muted">{{orderDetails.pizzaType.pizza.description}}</small>
          </div>
          <div class="float-right">
            <span class="mx-4">{{orderDetails.quantity}}</span>
          </div>
          <span class="text-muted">₹{{orderDetails.pizzaType.price}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light mt-2">
          <span>Total (INR)</span>
          <strong>₹{{singleOrder.totalAmt ? singleOrder.totalAmt:null}}</strong>
        </li>
      </ul>
      <h4 class="d-flex justify-content-between align-items-center mt-4">
        <span class="text-muted">Order Address</span>
      </h4>
      <div class="card my-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body addresscard">
              <span>{{singleOrder.oaddr.flatno}}</span><br>
              <span>{{singleOrder.oaddr.street}}</span><br>
              <span>{{singleOrder.oaddr.city}},</span><br>
              <span>{{singleOrder.oaddr.pincode}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-light p-3 text-center">
        Order Status : {{singleOrder.status}}
      </div>
      <button class="btn btn-primary p-3 mt-3" *ngIf="singleOrder.status == 'NotDelivered'"
        style="width: 100%;">Delivered</button>
    </div>
  </div>
</div>
