.table tr.active {
    background-color:#123456 !important;
    color: white;
  }

.table tbody{
    cursor: pointer;
}

.animate__animated.animate__slideOutUp {
  --animate-duration: 10s;
}

.animate__animated.animate__fadeIn{
  --animate-duration: 2s;
}