.nav-link{
    margin-right: 1.5rem;
}

.footer-basic-centered {
    background-color: black;
    /* #292c2f */
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 37px;
    margin-top: 80px;
}

footer {
    position: bottom;
    display: block;
}

#links {
    color: white;
}