<div class="navbarimg">
    <nav class="navbar navbar-expand-md navbar-light bg-white position-sticky">
        <div class="container">
            <a routerLink="/Home" class="navbar-brand">
                <img src="/assets/pizzahut_logo.png" alt="site_logo" height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/Home" class="nav-link">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <div class="btn-group">
                            <a type="button" href="/" class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Menu</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Saprete Link</a>
                            </div>
                        </div>
                    </li> -->
                    <li class="nav-item" *ngIf="isLogged">
                        <a routerLink="/Profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLogged">
                        <a routerLink="/Signup" class="nav-link">Signup</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLogged">
                        <a routerLink="/Login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogged">
                        <a class="nav-link" routerLink="" (click)="logOut()">Logout</a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="isLogged">
                        <a routerLink="/CheckOut" class="nav-link">Chechout</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogged">
                        <a routerLink="/VendorHome" class="nav-link">VendorHome</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<!-- <footer class="footer fixed-bottom">
    <h6 class="text-center"> Copyright © 2020 Design by Vishal Munagekar </h6>
</footer> -->
<footer class="footer-basic-centered footer font-small">

    <p class="footer-company-motto"><b id="motto"> <i class="fas fa-pizza-slice mr-3"></i>The PizzaHot<i
                class="fas fa-pizza-slice ml-3"></i></b></p>

    <p class="footer-links">
        <a routerLink="#" id="links">Order Now |</a>

        <a routerLink="#" id="links"> Our Policies |</a>
        <a routerLink="Contact" id="links"> Contact Us |</a>
        <a routerLink="About" id="links"> About Us |</a>
        <a  id="links"> Visit PizzaHot</a>
    </p>
    <p class="footer-company-name">© 2020 PizzaHot India. All rights reserved.</p>
    <div class="align-middle text-center" id="links">
        <h3 class="text-white typography-5 mb-10">Follow Us</h3>
        <i class="fab fa-facebook-square mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-instagram mr-3"></i>
        <i class="fab fa-youtube mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-pinterest mr-3"></i>
    </div>
</footer>