<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addressForm="ngForm" (ngSubmit)="addNewAddress(addressForm.value, closeModal)">
                    <div class="form-group">
                        <label>Street Address</label>
                        <input ngModel type="number" class="form-control"
                            placeholder="Flat / House No. / Floor / Building" name="flatno">
                    </div>
                    <div class="form-group">
                        <label>Landmark</label>
                        <input ngModel type="text" class="form-control"
                            placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc." name="street">
                    </div>
                    <div class="form-group">
                        <label>Pincode</label>
                        <input ngModel type="number" class="form-control" placeholder="6 digits [0-9] pincode"
                            name="pincode">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input ngModel type="text" class="form-control" placeholder="Enter City name" name="city">
                    </div>
                    <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add address</button>
                <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>



<!-- <div class="container mt-3">
    <h3 class="text-center" style="font-weight: bold;">Add a new address</h3>
    <form class="addressform mx-auto mt-4" #addressForm="ngForm" (ngSubmit)="addNewAddress(addressForm.value)">
        <div class="form-group">
            <label for="exampleInputEmail1">Mobile number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="10-digit mobile number without prefixes">
             <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label>Street Address</label>
            <input ngModel type="number" class="form-control" placeholder="Flat / House No. / Floor / Building"
                name="flatno">
        </div>
        <div class="form-group">
            <label>Landmark</label>
            <input ngModel type="text" class="form-control"
                placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc." name="street">
        </div>
        <div class="form-group">
            <label>Pincode</label>
            <input ngModel type="number" class="form-control" placeholder="6 digits [0-9] pincode" name="pincode">
        </div>
        <div class="form-group">
            <label>City</label>
            <input ngModel type="text" class="form-control" placeholder="Enter City name" name="city">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Add address</button>
    </form>
</div> -->