<div class="container graph">
    <div class="row">
        <div class="col-sm">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bgimg">
    <div class="row mx-auto">
        <div class="col-md-8 order-md-1 my-5">
            <div class="container form-inline justify-content-center">
                <input class="form-control mr-sm-2 d-block" id="searchbar" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" id="searchbtn" type="submit">Search</button>
            </div>
            <div class="container mt-4">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link btn" [class.active]="0 == selectedNavBtn" (click)="loadAllOrders()">All Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" [class.active]="1 == selectedNavBtn" (click)="loadDeliveredOrders()">Delivered</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link deactive btn" [class.active]="2 == selectedNavBtn" (click)="loadNotDeliveredOrders()">NotDelivered</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link deactive btn" [class.active]="3 == selectedNavBtn" (click)="loadCancelledOrders()">Cancelled</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-center my-5" *ngIf="isLoaded">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="container mx-auto">
                <table class="table table-hover" *ngIf="!isLoaded">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Pizza Qty.</th>
                            <th scope="col">Total Amt.</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [class.active]="order.oid == selectedRow" *ngFor="let order of orders" (click)="getOrderDetail( order.oid)">
                            <th scope="row">{{order.oid}}</th>
                            <td>{{order.totalQty}}</td>
                            <td>{{order.totalAmt}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
        <div class="col-md-4 order-md-2 mb-4 mt-5" style="max-width: 34rem;" *ngIf="singleOrder!==undefined">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Order Details</span>
                <span class="badge badge-secondary badge-pill">{{singleOrder.oid}}</span>
            </h4>
            <ul class="list-group mb-3" >
                
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let orderDetails of singleOrder.orderDetails">
                    <div>
                        <h6 class="my-0">{{orderDetails.pizza.pname}}</h6>
                        <small class="text-muted">{{orderDetails.pizza.description}}</small>
                    </div>
                    <div class="float-right">
                        <span class="mx-4">{{orderDetails.quantity}}</span>
                    </div>
                    <span class="text-muted">₹{{orderDetails.pizza.price}}</span>
                </li>

                <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li> -->

                <li class="list-group-item d-flex justify-content-between bg-light mt-2">
                    <span>Total (INR)</span>
                    <strong>₹{{singleOrder.totalAmt ? singleOrder.totalAmt:null}}</strong>
                </li>
            </ul>
            <!-- <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form> -->
            <h4 class="d-flex justify-content-between align-items-center mt-4">
                <span class="text-muted">Order Address</span>
            </h4>
            <div class="card my-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="card-body addresscard">
                      <!-- <h5 class="card-title">{{address.flatno}}</h5> -->
                        <span>{{singleOrder.oaddr.flatno}}</span><br>
                        <span>{{singleOrder.oaddr.street}}</span><br>
                        <span>{{singleOrder.oaddr.city}},</span><br>
                        <span>{{singleOrder.oaddr.pincode}}</span>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>