.addresscard span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table tr.active {
    background-color:#123456 !important;
    color: white;
  }

.table tbody{
    cursor: pointer;
}