<div class="text-center container">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <a class="masthead-brand" routerLink="/Home"><img class="mb-4" src="../assets/pizzahut_logo.png" width="200px;" alt="pizzahut_logo"></a>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" [routerLink]="['Home']" *ngIf="isLogged" routerLinkActive="active">Home</a>
          <a class="nav-link" [routerLink]="['Profile']" *ngIf="isLogged" routerLinkActive="active">Profile</a>
          <a class="nav-link" [routerLink]="['UpdatePizza']" *ngIf="isLogged" routerLinkActive="active">Update Pizza</a>
          <a class="nav-link" [routerLink]="['AddPizza']" *ngIf="isLogged" routerLinkActive="active">Add Pizza</a>
          <a class="nav-link" [routerLink]="['Login']" *ngIf="!isLogged" routerLinkActive="active">Login</a>
          <a class="nav-link" [routerLink]="['Login']" *ngIf="isLogged" (click)="logOut()"  routerLinkActive="active">Logout</a>
        </nav>
      </div>
    </header>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
        href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer> -->