<h1 class="text-center">Add New Pizza</h1>
<div class="mx-auto mt-4" style="max-width: 35rem;">
    <form #PizzaForm="ngForm" (ngSubmit)="AddNewPizza(PizzaForm.value)">
        <div class="form-group">
            <label for="pizzaName">Pizza name</label>
            <input type="text" class="form-control" #pname="ngModel" ngModel  id="pizzaName" name="pname" required
            [class.is-invalid]="pname.invalid && pname.touched">
            <small class="text-danger" [class.d-none]="pname.valid || pname.untouched" >Name is required</small>
        </div>
        <div class="form-group">
            <label for="pizzaImage">Pizza image</label>
            <input class="form-control" id="pizzaImage" #image="ngModel" ngModel name="image" [class.is-invalid]="image.invalid && image.touched" required>
            <small class="text-danger" [class.d-none]="image.valid || image.untouched" >URL is required</small>
        </div>
        <div class="form-group">
            <label for="pizzaDescription">Pizza description</label>
            <input type="text" class="form-control" #description="ngModel" ngModel id="pizzaDescription" name="description" [class.is-invalid]="description.invalid && description.touched" required>
            <small class="text-danger" [class.d-none]="description.valid || description.untouched" >Description is required</small>
        </div>
        <div class="form-group">
            <label for="pizzaPrice">Pizza price</label>
            <input type="number" pattern="\d{1,4}" class="form-control" #price="ngModel" ngModel id="pizzaPrice" name="price" [class.is-invalid]="price.invalid && price.touched" required>
            <small class="text-danger" [class.d-none]="price.valid || price.untouched" >Price is required</small>
        </div>
        <div class="form-group">
            <label for="pizzaCategory">Pizza category</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" #category="ngModel" ngModel name="category" id="pizzaCategoryVeg" value="VEG"
                    name="category" required>
                <label class="form-check-label" for="pizzaCategoryVeg">
                    Veg Pizza
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" #category="ngModel" ngModel id="pizzaCategoryNonVeg"
                    value="NONVEG" name="category" required>
                <label class="form-check-label" for="pizzaCategoryNonVeg">
                    Non-Veg Pizza
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="pizzaStatus">Pizza status</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" #status="ngModel" ngModel id="pizzaStatusAvailable"
                    value="AVAILABLE" name="status" required>
                <label class="form-check-label" for="pizzaStatus">
                    Available
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" #status="ngModel" ngModel id="pizzaStatusNotAvailable"
                    value="NOTAVAILABLE" name="status" required>
                <label class="form-check-label" for="pizzaStatus">
                    Notavailable
                </label>
            </div>
        </div>
        <button type="submit" [disabled]="!PizzaForm.valid" class="btn btn-primary p-3" style="width: 100%;">Update</button>
    </form>
</div>