<div *ngIf="cart.pizzas.length" class="sticky-top">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill">{{cart.totalQty}}</span>
  </h4>
  <div>
    <table class="table">
      <tbody>
        <tr *ngFor="let pizza of cart.pizzas">
          <td scope="row">
            <div class="align-self-center">
              <div class="form-inline">
                <h6 class="my-0">{{pizza.pname | titlecase}}</h6>
                <small style="background-color: rgb(63, 132, 160); color: white;" class="mx-1 rounded">&nbsp;{{pizza.pizzaTypes.size}}&nbsp;</small>
              </div>
              <small class="text-muted">{{pizza.description}}</small>
            </div>
          </td>
          <td>
            <div class="d-flex mt-2">
              <i class="fa fa-plus-square-o mr-3 fa-2x" (click)="increaseQty(pizza)" aria-hidden="true"></i>
              <span class="align-self-center">{{pizza.quantity}}</span>
              <i class="fa fa-minus-square-o ml-3 fa-2x" (click)="decreaseQty(pizza)" aria-hidden="true"></i>
            </div>
          </td>
          <td>
            <div class="mt-2">
              <span>{{pizza.totalPrice | currency:"INR":"symbol"}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>Total (INR)</strong>
          </td>
          <td>
            <strong>{{cart.totalAmt | currency:"INR":"symbol"}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card btn btn-outline-success p-3" routerLink="/CheckOut">
      PROCEED TO CHECKOUT
    </div>
  </div>
</div>
