<h1 class="text-center mt-4" style="font-weight: bolder;">Your Orders</h1>
<div class="container-fluid bgimg">
  <div class="row mx-auto">
    <div class="col-md-8 order-md-1 my-5">
      <div class="container mx-auto">
        <div class="d-flex justify-content-center my-5" *ngIf="isLoaded">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table class="table table-responsive-sm" *ngIf="!isLoaded">
          <thead>
            <tr>
              <th scope="col">Order No</th>
              <th scope="col">Order Date</th>
              <th scope="col">Pizaa Qty.</th>
              <th scope="col">Total amt</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr [class.active]="order.oid == selectedRow" *ngFor="let order of myOrders"
              (click)="getOrderDetail( order.oid)">
              <th scope="row">{{order.oid}}</th>
              <td>{{getDate(order.date)}}</td>
              <td>{{order.totalQty}}</td>
              <td>{{order.totalAmt}}</td>
              <td>{{order.status}}</td>
            </tr>

          </tbody>
        </table>
        <small *ngIf="myOrders.length === 0 && !isLoaded" class="text-primary my-3">You hava no Orders yet..!!</small>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4 mt-5" style="max-width: 34rem;" *ngIf="singleOrder !== undefined">
      <div class="sticky-top">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Order Details</span>
          <span class="badge badge-secondary badge-pill">{{singleOrder.oid}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed"
            *ngFor="let pizza of singleOrder.orderDetails">
            <div class="7">
              <div class="form-inline">
                <h6 class="my-0">{{pizza.pizzaType.pizza.pname}}</h6>
                <small style="background-color: rgb(63, 132, 160); color: white;"
                  class="mx-1 rounded">&nbsp;{{pizza.pizzaType.size}}&nbsp;</small>
              </div>
              <small class="text-muted">{{pizza.pizzaType.pizza.description | slice:0:50 }}</small>
            </div>
            <div class="col-3">
              <span class="d-flex justify-content-center mt-3">{{pizza.quantity}}</span>
            </div>
            <div class="col-2">
              <span class="text-muted float-right mt-3">₹{{pizza.totalPrice}}</span>
            </div>
          </li>

          <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li> -->

          <li class="list-group-item d-flex justify-content-between bg-light mt-2">
            <span>Total (INR)</span>
            <strong>₹{{singleOrder.totalAmt}}</strong>
          </li>
        </ul>
        <h4 class="d-flex justify-content-between align-items-center mt-4">
          <span class="text-muted">Order Address</span>
        </h4>
        <div class="card my-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body addresscard">
                <!-- <h5 class="card-title">{{address.flatno}}</h5> -->
                <span>{{singleOrder.oaddr.flatno}}</span><br>
                <span>{{singleOrder.oaddr.street}}</span><br>
                <span>{{singleOrder.oaddr.city}},</span><br>
                <span>{{singleOrder.oaddr.pincode}}</span>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
